# write csv file in pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\BCA- STUDY\\Python\\Datasets\\international-migration-September-2020-.csv')
df

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [3]:
df.head()

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional

In [4]:
df.head(1)

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final

In [5]:
df.head(8)

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
5,2019-10,2020-09,Long-term migrant,Arrivals,Female,0-4 years,382,3,Provisional
6,2019-11,2020-09,Long-term migrant,Arrivals,Female,0-4 years,434,8,Provisional
7,2019-12,2020-09,Long-term migrant,Arrivals,Female,0-4 years,618,15,Provisional

In [6]:
df.tail()

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [7]:
df.tail(2)

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [8]:
df.tail(10)

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
42175,2018-07,2020-09,Long-term migrant,Net,TOTAL,TOTAL,4700,0,Final
42176,2018-08,2020-09,Long-term migrant,Net,TOTAL,TOTAL,4615,0,Final
42177,2018-09,2020-09,Long-term migrant,Net,TOTAL,TOTAL,5431,0,Final
42178,2018-10,2020-09,Long-term migrant,Net,TOTAL,TOTAL,5450,0,Final
42179,2018-11,2020-09,Long-term migrant,Net,TOTAL,TOTAL,4407,0,Final
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [9]:
df = pd.read_csv('D:\\BCA- STUDY\\Python\\Datasets\\international-migration-September-2020-.csv', dtype={'year_month.7':'float64' })
df

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0.0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0.0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1.0,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2.0,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3.0,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0.0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0.0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0.0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0.0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0.0,Final

In [10]:
df = pd.read_csv('D:\\BCA- STUDY\\Python\\Datasets\\international-migration-September-2020-.csv ', dtype={'year_month.7':'float64','year_month.6':'float64'})
df

,year_month,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316.0,0.0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340.0,0.0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357.0,1.0,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421.0,2.0,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396.0,3.0,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141.0,0.0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326.0,0.0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786.0,0.0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543.0,0.0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857.0,0.0,Final

In [11]:
df = pd.read_csv('D:\\BCA- STUDY\\Python\\Datasets\\international-migration-September-2020-.csv')
df

,year_month,data,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,yes,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,yes,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,yes,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,yes,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,yes,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...,...
42180,2018-12,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [14]:
df = pd.read_csv('D:\\BCA- STUDY\\Python\\Datasets\\international-migration-September-2020-.csv', false_values = ['no'], true_values = ['yes'])
df

,year_month,data,year_month.1,year_month.2,year_month.3,year_month.4,year_month.5,year_month.6,year_month.7,year_month.8
0,2019-05,True,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,True,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,False,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,True,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,True,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...,...
42180,2018-12,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,NaN,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final