In [1]:
import pandas as pd

In [3]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv')

,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [5]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv', header = 1)

,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
0,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
1,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
2,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
3,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
4,2019-10,2020-09,Long-term migrant,Arrivals,Female,0-4 years,382,3,Provisional
...,...,...,...,...,...,...,...,...,...
42179,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42180,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42181,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42182,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42183,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [6]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv')

,0,1,2,3,4,5,6,7,8
0,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
1,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
2,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
3,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
4,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
...,...,...,...,...,...,...,...,...,...
42181,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42182,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42183,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42184,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42185,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [7]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv', header = 1)

,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [8]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv')

,Unnamed: 0,data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0,1,2,3,4,5,6,7,8
1,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
2,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
3,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
4,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
...,...,...,...,...,...,...,...,...,...
42182,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42183,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42184,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42185,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42186,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [9]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv', header = 2)

,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [10]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv')

,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
0,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
1,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
2,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
3,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
4,2019-10,2020-09,Long-term migrant,Arrivals,Female,0-4 years,382,3,Provisional
...,...,...,...,...,...,...,...,...,...
42179,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42180,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42181,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42182,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42183,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final

In [20]:
pd.read_csv('D:\\BCA- STUDY\\Python\Datasets\\international-migration-September-2020-.csv', names = ['year_month','month_of_release','passenger_type','direction','sex','age','estimate','standard_error','status'])

,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
0,2019-05,2020-09,Long-term migrant,Arrivals,Female,0-4 years,316,0,Final
1,2019-06,2020-09,Long-term migrant,Arrivals,Female,0-4 years,340,0,Provisional
2,2019-07,2020-09,Long-term migrant,Arrivals,Female,0-4 years,357,1,Provisional
3,2019-08,2020-09,Long-term migrant,Arrivals,Female,0-4 years,421,2,Provisional
4,2019-09,2020-09,Long-term migrant,Arrivals,Female,0-4 years,396,3,Provisional
...,...,...,...,...,...,...,...,...,...
42180,2018-12,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3141,0,Final
42181,2019-01,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6326,0,Final
42182,2019-02,2020-09,Long-term migrant,Net,TOTAL,TOTAL,6786,0,Final
42183,2019-03,2020-09,Long-term migrant,Net,TOTAL,TOTAL,3543,0,Final
42184,2019-04,2020-09,Long-term migrant,Net,TOTAL,TOTAL,1857,0,Final